body{
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(rgb(10, 139, 190), rgb(183, 194, 199));
    
}



.weather-container{
    
    text-align: center;
    background-color: rgb(98, 191, 207);
    padding: 20px;
    border-radius: 50px;
    margin: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);

}

.weather-container h1{
    font-size: 40px;
    font-weight: bold;
}

.weather-container p{
    font-size: 20px;
    font-weight: bold;
}

.weather-container img{
    display: flex;
    border-radius: 100%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
    margin-left: 28%;
    margin-bottom: 10px;
    
}
#input-city-name{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        padding: 5px;
        border-radius: 50px;
        box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

#send{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-left: 75px;
    padding: 5px;
    border-radius: 50px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);


    cursor: pointer;
}
